<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()" [disabled]="isAgentRH()" ></button>&nbsp;
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedVisaRequests()"  [disabled]="!selectedVisaRequests || !selectedVisaRequests.length || isAgentRH()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="visaRequests" [rows]="6" [paginator]="true" [globalFilterFields]="['id', 'type', 'destination', 'status']"
        [(selection)]="selectedVisaRequests" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Visa Requests</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Search" />         
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="id">Visa Request ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
                <th pSortableColumn="destination">Destination <p-sortIcon field="destination"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="passport">Passport ID <p-sortIcon field="passport"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-visaRequest>
            <tr>
              <td>
                <p-tableCheckbox [value]="visaRequest"></p-tableCheckbox>
              </td>
              <td>{{visaRequest.id}}</td>
              <td>{{visaRequest.type}}</td>
              <td>{{visaRequest.destination}}</td>
              <td [ngClass]="{
                'status-waiting': visaRequest.status === 'WAITING',
                'status-in-progress': visaRequest.status === 'IN_PROGRESS',
                'status-successful': visaRequest.status === 'SUCCESSFUL',
                'status-rejected': visaRequest.status === 'REJECTED'
              }">
                {{visaRequest.status}}
              </td>
              <td>{{visaRequest.passport.idPass}}</td>
              <td>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editVisaRequest(visaRequest)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteVisaRequest(visaRequest)" [disabled]="isAgentRH()" ></button>
              </td>
            </tr>
          </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{visaRequests ? visaRequests.length : 0 }} Requests.
            </div>
        </ng-template>
    </p-table>
</div>
 
<p-dialog [(visible)]="visaRequestDialog" [style]="{width: '450px',height: '600px'}" header="Visa Request Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="type">Type</label>
            <input type="text" pInputText id="type" [(ngModel)]="visaRequest.type" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !visaRequest.type">Type is required.</small>
        </div>

        <div class="p-field">
            <label for="destination">Destination</label>
            <input type="text" pInputText id="destination" [(ngModel)]="visaRequest.destination" required />
            <small class="p-invalid" *ngIf="submitted && !visaRequest.destination">Destination is required.</small>
        </div>

        <div class="p-field">
            <label for="passportId">Passport ID</label>
            <p-dropdown [options]="passports" [(ngModel)]="visaRequest.passport" optionLabel="idPass" placeholder="Select a Passport"></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !visaRequest.passport">Passport is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveVisaRequest()"></button>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="updatevisaRequestDialog" [style]="{width: '450px',height: '600px'}" header="Visa Request Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="type">Type</label>
            <input type="text" pInputText id="type" [(ngModel)]="visaRequest.type" required autofocus [disabled]="isAgentRH()"  />
            <small class="p-invalid" *ngIf="submitted && !visaRequest.type">Type is required.</small>
        </div>

        <div class="p-field">
            <label for="destination">Destination</label>
            <input type="text" pInputText id="destination" [(ngModel)]="visaRequest.destination" required  [disabled]="isAgentRH()" />
            <small class="p-invalid" *ngIf="submitted && !visaRequest.destination">Destination is required.</small>
        </div>

        <div class="p-field">
            <label for="status">Status</label>
            <p-dropdown [options]="statuses" [(ngModel)]="visaRequest.status" placeholder="Select a Status" ></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !visaRequest.status">Status is required.</small>
        </div>

        <div class="p-field">
            <label for="passportId">Passport ID</label>
            <p-dropdown [options]="passports" [(ngModel)]="visaRequest.passport" optionLabel="idPass" placeholder="Select a Passport" [disabled]="isAgentRH()" ></p-dropdown>
            <small class="p-invalid" *ngIf="submitted && !visaRequest.passport">Passport is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveVisaRequest()"></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


